In [123]:
# import and read file, use NaN for elements with no values
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd 

df = pd.read_csv("combined_inpatient.csv", na_values = ['no info', '.'])
#print(df.head(5))

In [10]:
df.shape

(1332822, 81)

In [83]:
#subset of data needed to answer assignment question #4
newdf = df[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ADMTNG_ICD9_DGNS_CD','ICD9_DGNS_CD_1','ICD9_DGNS_CD_2','ICD9_DGNS_CD_3',
            'ICD9_DGNS_CD_4','ICD9_DGNS_CD_5','ICD9_DGNS_CD_6','ICD9_DGNS_CD_7','ICD9_DGNS_CD_8','ICD9_DGNS_CD_9',
             'ICD9_DGNS_CD_10']]
print(newdf.head(5))

        DESYNPUF_ID           CLM_ID  CLM_ADMSN_DT ADMTNG_ICD9_DGNS_CD  \
0  00013D2EFD8E45D1  196661176988405      20100312                4580
1  00016F745862898F  196201177000368      20090412                7866
2  00016F745862898F  196661177015632      20090831                6186
3  00016F745862898F  196091176981058      20090917               29590
4  00016F745862898F  196261176983265      20100626                5849

  ICD9_DGNS_CD_1 ICD9_DGNS_CD_2 ICD9_DGNS_CD_3 ICD9_DGNS_CD_4 ICD9_DGNS_CD_5  \
0           7802          78820          V4501           4280           2720
1           1970           4019           5853           7843           2768
2           6186           2948          56400            NaN            NaN
3          29623          30390          71690          34590          V1581
4           3569           4019           3542          V8801          78820

  ICD9_DGNS_CD_6 ICD9_DGNS_CD_7 ICD9_DGNS_CD_8 ICD9_DGNS_CD_9 ICD9_DGNS_CD_10
0           4019          V4502          73300          E9330             NaN
1          71590           2724          19889           5849             NaN
2            NaN            NaN            NaN            NaN             NaN
3          32723            NaN            NaN            NaN             NaN
4           2639           7840           7856           4271             NaN

In [84]:
newdf.shape

(1332822, 14)

In [122]:
# rename_df = newdf.rename(columns={'ADMTNG_ICD9_DGNS_CD':'ICD9_DGNS',
#                       'ICD9_DGNS_CD_1':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_2':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_3':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_4':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_5':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_6':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_7':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_8':'ICD9_DGNS',
#                      'ICD9_DGNS_CD_9':'ICD9_DGNS',
#                     'ICD9_DGNS_CD_10': 'ICD9_DGNS' })
#rename_df.shape
#print(rename_df.head(5))

In [96]:
# rename column, need same col name to union all ICD9_DGNS columns into one column (inludes ADMTNG_ICD9_DGNS_CD)
df1 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ADMTNG_ICD9_DGNS_CD']]
df1 = df1.rename(columns={'ADMTNG_ICD9_DGNS_CD':'ICD9_DGNS'})
df2 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_1']]
df2 = df2.rename(columns={'ICD9_DGNS_CD_1':'ICD9_DGNS'})
df3 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_2']]
df3 = df3.rename(columns={'ICD9_DGNS_CD_2':'ICD9_DGNS'})
df4 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_3']]
df4 = df4.rename(columns={'ICD9_DGNS_CD_3':'ICD9_DGNS'})
df5 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_4']]
df5 = df5.rename(columns={'ICD9_DGNS_CD_4':'ICD9_DGNS'})
df6 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_5']]
df6 = df6.rename(columns={'ICD9_DGNS_CD_5':'ICD9_DGNS'})
df7 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_6']]
df7 = df7.rename(columns={'ICD9_DGNS_CD_6':'ICD9_DGNS'})
df8 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_7']]
df8 = df8.rename(columns={'ICD9_DGNS_CD_7':'ICD9_DGNS'})
df9 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_8']]
df9 = df9.rename(columns={'ICD9_DGNS_CD_8':'ICD9_DGNS'})
df10 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_9']]
df10 = df10.rename(columns={'ICD9_DGNS_CD_9':'ICD9_DGNS'})
df11 = newdf[['DESYNPUF_ID','CLM_ID','CLM_ADMSN_DT','ICD9_DGNS_CD_10']]
df11 = df11.rename(columns={'ICD9_DGNS_CD_10':'ICD9_DGNS'})
# union all ICD9 codes
df_union_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])
df_union_all.shape
print(df_union_all.head(5))

        DESYNPUF_ID           CLM_ID  CLM_ADMSN_DT ICD9_DGNS
0  00013D2EFD8E45D1  196661176988405      20100312      4580
1  00016F745862898F  196201177000368      20090412      7866
2  00016F745862898F  196661177015632      20090831      6186
3  00016F745862898F  196091176981058      20090917     29590
4  00016F745862898F  196261176983265      20100626      5849

In [100]:
# drop all rows with ICD9_DGNS = NaN
df_union_all = df_union_all.dropna()
df_union_all.shape

(12055833, 4)

In [104]:
# Select all duplicate rows based on multiple column names in list
duplicateRowsDF = df_union_all[df_union_all.duplicated(subset=['DESYNPUF_ID','CLM_ADMSN_DT','ICD9_DGNS'])]
duplicateRowsDF.shape

(320641, 4)

In [124]:
df_no_duplicates = df_union_all.drop_duplicates(keep='first')

In [120]:
df_no_duplicates.groupby('ICD9_DGNS').count()[['CLM_ID']].sort_values(by='CLM_ID',
            ascending=False).rename(columns={'CLM_ID':'COUNT'}).head(10)

            COUNT
ICD9_DGNS
4019       470068
25000      239222
2724       238056
4280       222349
41401      211488
42731      210238
5990       182573
53081      158117
486        143725
2449       139257